vendor
node_modules
app/config/PubKeyAuth/keys/dev.pub
app/modules/available/bfw-api
app/modules/available/bfw-controller
app/modules/available/bfw-fastroute
app/modules/available/bfw-fenom
app/modules/enabled/*
!app/modules/enabled/.gitkeep
web/assets/css/*.css
web/assets/js/*.js